@media screen {

/*=============== Colorbox Styles ===============*/
/* these styles are base styles needed for colorbox -- do not change */
#colorbox, #cboxOverlay,
#cboxWrapper                  { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden; }
#cboxOverlay                  { position: fixed; width: 100%; height: 100%; }
#cboxMiddleLeft,
#cboxBottomLeft               { clear: left; }
#cboxContent                  { position: relative; }
#cboxLoadedContent            { overflow: auto; }
#cboxTitle                    { margin: 0; }
#cboxLoadingOverlay,
#cboxLoadingGraphic           { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#cboxPrevious, #cboxNext,
#cboxClose, #cboxSlideshow    { cursor: pointer; }
.cboxPhoto                    { float: left; margin: auto; border: 0; display: block; }
.cboxIframe                   { width: 100%; height: 100%; display: block; border: 0; }

/* colorbox user styles */
#cboxOverlay                  { background: #fff; }
#cboxContent                  { margin-top: 20px; }
.cboxIframe                   { background: #fff; }
#cboxError                    { padding: 50px; border: 1px solid #ccc; }
#cboxLoadedContent            { border: 0.5em solid #000; background: #fff; }
#cboxTitle                    { position: absolute; top: -1.5em; left: 0.5em; }
#cboxCurrent                  { position: absolute; top: -1.4em; right: 0.5em; }
#cboxSlideshow                { position: absolute; top: -1.4em; right: 90px; }
#cboxLoadingOverlay           { background: #000; }
#cboxLoadingGraphic           { background: url(../img/loading.gif) no-repeat center center; }
#cboxPrevious, #cboxNext,
#cboxClose                    { background: url(../img/controls.png) no-repeat; }
#cboxPrevious                 { position: absolute; top: 50%; left: 5px; margin-top: -32px; background-position: top left; width: 28px; height: 65px; text-indent: -9999px; }
#cboxPrevious:hover           { background-position: bottom left; }
#cboxNext                     { position: absolute; top: 50%; right: 5px; margin-top: -32px; background-position: top right; width: 28px; height: 65px; text-indent: -9999px; }
#cboxNext:hover               { background-position: bottom right; }
#cboxClose                    { position: absolute; top: 5px; right: 5px; display: block; background-position: top center; width: 38px; height: 19px; text-indent: -9999px; }
#cboxClose:hover              { background-position: bottom center; }

/* blur out the background elements, for a nicer lightbox-effect */
.cboxBlurred *                { color: rgba(94, 94, 94, 0); text-shadow: 0 0 11px rgba(50, 50, 50, .7); }
.cboxBlurred img              { opacity: 0.3; }

} /* end @media screen */
