/*=============== Basic CSS Reset ===============*/
/* inspired by
   http://meyerweb.com/eric/tools/css/reset/ 
   http://html5doctor.com/html-5-reset-stylesheet/ 
   http://html5boilerplate.com/ 
   http://j.mp/bestclearfix
*/
@media all {  

html, body, div, span, 
object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, 
pre, a, abbr, address, cite, 
code, del, dfn, em, img, ins, 
kbd, q, s, samp, small, var,
strike, strong, sub, sup, b,
i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, 
thead, tr, th, td, article, 
aside, canvas, details, embed, 
figure, figcaption, footer, 
header, hgroup, menu, nav, 
output, ruby, section, time, 
summary, mark, audio, video   { margin: 0; padding: 0; border: 0; color: inherit; 
                                font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, menu,
figcaption, figure, footer,
header, hgroup, nav, section  { display: block; }

input, textarea, select       { color: inherit; font: inherit; }
input, select                 { vertical-align: middle; }
textarea                      { overflow: auto; }
label, input[type="button"], 
input[type="submit"], button  { cursor: pointer; }

ol, ul                        { list-style: none; }
table                         { border-collapse: collapse; border-spacing: 0; }

blockquote, q                 { quotes: none; }
blockquote:before, 
blockquote:after,

q:before, q:after             { content: ''; content: none; }
pre, code, kbd, samp          { font-family: monospace, sans-serif; }

.clearfix:before,
.clearfix:after               { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after               { clear: both; }
.clearfix                     { zoom: 1; }

.hidden                       { display: none; visibility: hidden; }

} /* end @media all */
