@media all {

/*=============== Default Styling ===============*/
body                          { font: normal 14px/1.4 sans-serif; background: #fff; color: #333; }
p, table, figure, h1, h2, h3,
h4, h5, h6, fieldset, pre,
blockquote, iframe, object,
audio, video, canvas, ul, ol  { margin-bottom: 20px; } /* basic bottom margin for content-elements ~= line-height */
h1                            { font-size: 160%; }
h2                            { font-size: 140%; }
h3                            { font-size: 120%; }
h4                            { font-size: 100%; }
h5                            { font-size: 90%; }
h6                            { font-size: 80%; }

/* you really should style those */
a                             {  }
a:hover                       {  }
:focus                        {  }
::-moz-selection              {  }
::selection                   {  }

/* this is highly recommended -- autoscaling imgs and stuff ftw! */
img, object, iframe           { max-width: 100%; height: auto; }

label                         { display: block; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; }
input[type="search"]          { -webkit-appearance: textfield; -webkit-box-sizing: content-box; width: 200px; }
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea                      { /* style those inputs if you want */}
input:focus, textarea:focus   { /* add special focus to those inputs */ }

/* general classes here */
/* The clearfix! (http://j.mp/bestclearfix) -- the g12-class always clearfixes */
.clearfix:before,
.clearfix:after               { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after               { clear: both; }
.clearfix                     { zoom: 1; }
.hidden                       { display: none; }
.ir                           { display: block; text-indent: -9999px; background-repeat: no-repeat; }

/* wordpress classes */
.sticky                       {  }
.alignleft                    { float: left; display: inline; margin-right: 20px; }
.alignright                   { float: right; text-align: right; display: inline; margin-left: 20px; }
.aligncenter                  { clear: both; display: block; margin: 0 auto; }
.bypostauthor                 {  }
.wp-caption                   {  }
.wp-caption-text              {  }
.gallery-caption              {  }


/*=============== Header ===============*/
#container                    {  }
#header                       {  }
#header h1 a                  {  }
#header h2                    {  }


/*=============== Navigation ===============*/
#nav                          {  }
#nav ul                       {  }
#nav li                       {  }
#nav li li                    {  }


/*=============== Main Area & Content Elements ===============*/
#main                         {  }
#content                      {  }
#content ul                   { margin: 0 0 20px 20px; list-style: disc; }
#content li > ul              { margin-bottom: 0; }


/*=============== Sidebar ===============*/
#sidebar                      {  }
#sidebar li                   { list-style: none; }
#sidebar li ul                { margin-left: 20px; list-style: disc; }
#sidebar .widget,
.searchResults                { margin-bottom: 20px; }


/*=============== Footer ===============*/
#footer                       { clear: both; padding: 20px 0; }
#footer p                     { text-align: center; font-size: 80%; }


} /* end @media all */
