@media all {

/*=============== Base Styles ===============*/
body                          { font: normal 16px/1.4 sans-serif; color: #333; }
h1                            { text-rendering: optimizeLegibility; }

a                             { color: #bada55; }
a:hover                       { text-decoration: none; }
:focus                        {  }
::-moz-selection              {  }
::selection                   {  }

img                           { max-width: 100%; height: auto; } /* image auto-scaling can cause problems with colorbox */

button, input, select,
textarea                      { font-family: sans-serif; } /* same font as body */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea                      { /* style those inputs */ }



/*=============== Layout Styles ===============*/
#container                    { width: 960px; margin: 0 auto; }
#header                       {  }
#nav                          {  }
#main                         {  }
#content                      {  }
#footer                       {  }


/*=============== Module Styles ===============*/
.module                       {  }


/*=============== Wordpress classes ===============*/
.sticky                       {  }
.alignleft                    { float: left; display: inline; margin-right: 1.4em; }
.alignright                   { float: right; text-align: right; display: inline; margin-left: 1.4em; }
.aligncenter                  { clear: both; display: block; margin: 0 auto; }
.bypostauthor                 {  }
.wp-caption                   {  }
.wp-caption-text              {  }
.gallery-caption              {  }


/*=============== Helper Classes and sidewide stuff ===============*/
.ir                           { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent;
                                background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br                        { display: none; }
.hidden                       { display: none !important; visibility: hidden; }
.visuallyhidden               { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden;
                                padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible                    { visibility: hidden; }
.clearfix:before,
.clearfix:after               { content: ""; display: table; }
.clearfix:after               { clear: both; }
.clearfix                     { *zoom: 1; }

} /* end @media all */
