/*
 *
 *
 */
/*
 * normalize.css - http://github.com/necolas/normalize.css
 * Stripped and modifed by Steffen Becker - http://webgefrickel.de
 * last modified 2012-04-27
 */
/*=============== normalizing base styles ===============*/
/* line 18, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 24, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 30, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 34, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
[hidden] {
  display: none;
}

/* line 38, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 48, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: Georgia, serif;
}

/* line 52, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
body {
  margin: 0;
  background-color: white;
}

/*=============== text styling ===============*/
/* line 59, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 64, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 68, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

/* line 73, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
h2 {
  margin: 0.83em 0;
  font-size: 1.5em;
}

/* line 78, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
h3 {
  margin: 1em 0;
  font-size: 1.17em;
}

/* line 83, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
h4 {
  margin: 1.33em 0;
  font-size: 1em;
}

/* line 88, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
h5 {
  margin: 1.67em 0;
  font-size: 0.83em;
}

/* line 93, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
h6 {
  margin: 2.33em 0;
  font-size: 0.75em;
}

/* line 98, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 103, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 107, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
blockquote {
  margin: 1.4em;
}

/* line 111, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 115, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 121, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 128, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  _font-family: 'courier new', monospace;
}

/* line 133, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 139, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
q {
  quotes: none;
}

/* line 144, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 148, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
small {
  font-size: 75%;
}

/* line 153, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 158, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 162, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 169, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 173, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
dd {
  margin: 0 0 0 1.4em;
}

/* line 179, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 1.4em;
}

/* line 184, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
nav ul,
nav ol {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/*=============== images styles ===============*/
/* line 191, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 196, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 200, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
figure {
  margin: 0;
}

/*=============== form styles ===============*/
/* line 206, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
form {
  margin: 0;
}

/* line 210, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
fieldset {
  margin: 0 2px;
  padding: 1em;
  border: 1px solid #c0c0c0;
}

/* line 214, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
legend {
  padding: 0;
  border: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 223, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 230, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 237, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 244, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 249, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 256, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 264, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 269, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 274, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 279, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
label {
  display: block;
  cursor: pointer;
}

/*=============== the rest ===============*/
/* line 286, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 291, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
td {
  vertical-align: top;
}

/* line 295, ../../../../../../../Repositories/webgefrickel/scss/_normalize.scss */
th {
  text-align: left;
}

/*=============== base styles ===============*/
/* line 2, ../scss/_style.scss */
body {
  font: normal 16px/1.4 Georgia, serif;
  color: #333333;
}

/* line 6, ../scss/_style.scss */
h1 {
  text-rendering: optimizeLegibility;
}

/* line 10, ../scss/_style.scss */
a {
  color: #badbad;
}
/* line 12, ../scss/_style.scss */
a:hover {
  text-decoration: none;
}

/*=============== forms  ===============*/
/* line 27, ../scss/_style.scss */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
  /* style me */
}

/* line 32, ../scss/_style.scss */
input:valid,
textarea:valid {
  /* colors for form validity */
}

/* line 37, ../scss/_style.scss */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

/*=============== Layout Styles ===============*/
/* line 43, ../scss/_style.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/*=============== Module Styles ===============*/
/*=============== Wordpress classes ===============*/
/* line 54, ../scss/_style.scss */
.alignleft {
  float: left;
  display: inline;
  margin-right: 1.4em;
}

/* line 59, ../scss/_style.scss */
.alignright {
  float: right;
  display: inline;
  margin-left: 1.4em;
  text-align: right;
}

/* line 65, ../scss/_style.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
  clear: both;
}

/*=============== global colorbox styles ===============*/
/* line 4, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
}

/* line 10, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 15, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

/* line 19, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxContent {
  position: relative;
}

/* line 23, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxLoadedContent {
  overflow: auto;
}

/* line 27, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxTitle {
  margin: 0;
}

/* line 32, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 39, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

/* line 43, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
.cboxPhoto {
  display: block;
  float: left;
  margin: auto;
  border: 0;
}

/* line 48, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
.cboxIframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

/*=============== your colorbox styles ===============*/
/* line 55, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxOverlay {
  background: #000;
}

/* line 59, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
.cboxIframe {
  background: #fff;
}

/* line 63, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxContent {
  margin-top: 20px;
}

/* line 67, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 71, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxLoadedContent {
  border: 5px solid #000;
  background: #fff;
}

/* line 76, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxTitle {
  position: absolute;
  top: -20px;
  left: 0;
  color: #ccc;
}

/* line 81, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxCurrent {
  position: absolute;
  top: -20px;
  right: 0px;
  color: #ccc;
}

/* line 86, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff;
}

/* line 91, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxLoadingGraphic {
  background: url(../img/loading.gif) no-repeat center center;
}

/* line 97, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxPrevious,
#cboxNext,
#cboxCurrent {
  background: url(../img/controls.png) no-repeat;
}

/* line 101, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxPrevious {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 28px;
  height: 65px;
  margin-top: -32px;
  background-position: top left;
  text-indent: -9999px;
}
/* line 106, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxPrevious:hover {
  background-position: bottom left;
}

/* line 111, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxNext {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 28px;
  height: 65px;
  margin-top: -32px;
  background-position: top right;
  text-indent: -9999px;
}
/* line 116, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxNext:hover {
  background-position: bottom right;
}

/* line 121, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxLoadingOverlay {
  background: #000;
}

/* line 125, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxClose {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
  height: 19px;
  background-position: top center;
  text-indent: -9999px;
}
/* line 129, ../../../../../../../Repositories/webgefrickel/scss/_colorbox.scss */
#cboxClose:hover {
  background-position: bottom center;
}

/*=============== helper and general classes  ===============*/
/* line 2, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.ir {
  border: 0;
  background-color: transparent;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

/* line 9, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 14, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* line 20, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 28, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 33, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

/* line 38, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 42, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 46, ../../../../../../../Repositories/webgefrickel/scss/_helpers.scss */
.sanebox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media print {
  /*=============== Print Styles ===============*/
  /* line 4, ../scss/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 14, ../scss/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 19, ../scss/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 24, ../scss/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 29, ../scss/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 33, ../scss/_print.scss */
  img {
    max-width: 100% !important;
    height: auto !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 43, ../scss/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 49, ../scss/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* end @media print */
