/* Base Styles here - style all used default elements here
======================================================================*/

body {
  font: $font-default; color: $color-default;
}

h1 {
  text-rendering: optimizeLegibility;
}

h2 {

}

h3 {

}

h4 {

}

a {
  color: $color-main;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


:focus {
  // basic focus styles
}

// h5bp.com/i
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  // default page form styles
}
