/*=============== base styles ===============*/
body {
  font: $base-font; color: $color;
}

h1 {
  text-rendering: optimizeLegibility;
}

a {
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
}

:focus {
  // basic focus styles -- outline: 0; ;-)
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  // default page form styles
}

// colors for form invalidity
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}


/*=============== layout styles ===============*/
.container {
  width: $page-width;
  margin: 0 auto;
}


/*=============== Module Styles ===============*/
.module {
  // your module styles here
}


/*=============== Wordpress classes ===============*/
.alignleft {
  float: left; display: inline;
  margin-right: #{$line-height}em;
}

.alignright {
  float: right; display: inline;
  margin-left: #{$line-height}em;
  text-align: right;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  clear: both;
}

// some basic wordpress-classes
.bypostauthor { }
.sticky { }
.wp-caption { }
.wp-caption-text { }
.gallery-caption { }
