/*=============== base styles ===============*/
body {
  font: normal #{$font-size}/#{$line-height} #{$font}; color: $color; }

h1 {
  text-rendering: optimizeLegibility; }

a {
  color: $link-color; }

a:hover {
  text-decoration: none; }

:focus { }

::-moz-selection { } 

::selection { } 


/*=============== forms  ===============*/
button,
input,
select,
textarea  {
  font-family: sans-serif; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
  /* style me */ }

input:valid,
textarea:valid   {
  /* colors for form validity */ }

input:invalid,
textarea:invalid {
  background-color: #f0dddd; }


/*=============== Layout Styles ===============*/
.container {
  width: 960px;
  margin: 0 auto; }


/*=============== Module Styles ===============*/
.module { }


/*=============== Wordpress classes ===============*/
.alignleft { 
  float: left; display: inline; 
  margin-right: 1.4em; }

.alignright { 
  float: right; display: inline; 
  margin-left: 1.4em; 
  text-align: right; }

.aligncenter { 
  display: block; 
  margin: 0 auto;
  clear: both; }

.bypostauthor { }
.sticky { }
.wp-caption { } 
.wp-caption-text { }
.gallery-caption { }
