/*!
 *
 *
 */

$background: #fff;
$color: #333;
$link-color: #badbad;

$font: Georgia, serif;
$font-size: 16px;
$line-height: 1.4;

$page-width: 960px;

@import 'normalize';
@import 'style';
@import 'colorbox';
@import 'helpers';
@import 'print';
